
.blue{
  color: blue;
  margin-top: 0;
}

.retour{
  text-align: left;
  font-size: 15px;
}

.Construction{
  color: #1CF7F7;
  text-align: left;
  font-size: 50px;
  text-align: center;
  margin : 0
}

#main-header{
  background-image: url("images/fonds/page d'accueil/page d'accueil.jpg");
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentation-header{
  background-image: url("images/fonds/page d'accueil/presentation.jpg");
  height: 650px;
}

.présentation h2{
  margin-bottom: 0;
  color: white;
}

.présentation h3{
  margin-top: 0;
  color: white;
}

.présentation h4{
  font-size: 25px;
  color: white;
}

#développé h1{
  color: red;
  text-decoration: underline;
}

#en-cour h1{
  color: red;
  text-decoration: underline;
}

#contact h1{
  color: red;
  text-decoration:underline;
}

#contact-container {
  display: flex;
  gap: 10px;
}

#social{
  display: flex;
  gap: 10px;
}

.icones-contact {
  height: 40px;
  width: auto;
}
